@model IEnumerable<Whatsapp2.Models.ChatMessages>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ol>
    @foreach(var item in Model)
    {
        <li>@item.Message - @item.RecieverEmail - @item.SenderEmail</li>
    }
</ol>